<div class="card mt-4">
  <div class="card-body">
    <div class="alert" *ngIf="transactionStatus !== transactionStatusEnum.START" [ngClass]="{
        'alert-success' : transactionStatus === transactionStatusEnum.ADDED,
        'alert-primary' : transactionStatus === transactionStatusEnum.UPDATED,
        'alert-danger' : transactionStatus === transactionStatusEnum.DELETED}" role="alert">{{transactionStatus}}</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Security</th>
          <th scope="col" class="text-right">Shares</th>
          <th scope="col" class="text-right">Value</th>
          <th scope="col" class="text-right">Cashflow</th>
          <th scope="col" class="text-right">&nbsp;</th>
          <th scope="col" class="text-right">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions$ | async; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{ transaction.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.security }}<span class="text-muted" *ngIf="!transaction.security">n/a</span></td>
          <td class="text-right">{{transaction.shares}}
            <span class="text-muted" *ngIf="!transaction.shares">n/a</span>
          </td>
          <td class="text-right">&pound;{{transaction.value}}</td>
          <td class="text-right text-success" [ngClass]="{'text-success' : transaction.cashflow > 0,
                        'text-danger': transaction.cashflow < 0 }">
            {{transaction.cashflow | currencyWithSign:'GBP':'symbol-narrow':'1.0-0'}}</td>
          <td class="text-right"><a href="#" (click)="editTransaction(transaction)">Edit</a></td>
          <td class="text-right"><a href="#" (click)="deleteTransaction(transaction.id)">Delete</a></td>
        </tr>
        <!-- <tr>
            <th scope="row">2</th>
            <td>15/06/2019</td>
            <td>Buy</td>
            <td>Gulf Keystone Petroleum</td>
            <td class="text-right">118</td>
            <td class="text-right">&pound;1,200</td>
            <td class="text-right text-danger">-&pound;1,200</td>
            <td class="text-right"><a href="#">Edit</a></td>
            <td class="text-right"><a href="#">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>01/11/2019</td>
            <td>Sell</td>
            <td>Gulf Keystone Petroleum</td>
            <td class="text-right">34</td>
            <td class="text-right">&pound;720</td>
            <td class="text-right text-success">+&pound;720</td>
            <td class="text-right"><a href="#">Edit</a></td>
            <td class="text-right"><a href="#">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>05/01/2020</td>
            <td>Withdraw</td>
            <td><span class="text-muted">n/a</span></td>
            <td class="text-right"><span class="text-muted">n/a</span></td>
            <td class="text-right">&pound;1,000</td>
            <td class="text-right text-danger">-&pound;1,000</td>
            <td class="text-right"><a href="#">Edit</a></td>
            <td class="text-right"><a href="#">Delete</a></td>
          </tr> -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">Cumulative cashflow</td>
          <td class="text-right">{{cumulativeCashflow | currency:'GBP':'symbol-narrow':'1.0-0'}}</td>
          <td colspan="2">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>